<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The PP&BP: aquisitions</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

</head>
<body>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">The PP&BP</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
          aria-expanded="false" aria-label="Toggle navigation">
          
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="profile">Portfolio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#bio">Search</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#projects">Feed</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="#contact">Messages</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#skills">Settings</a>
              </li> -->
                
            </ul>              
            
            <ul> 
              <div id="cross-send-nav-bar1-div">
                <h4 id="cross-send-nav-bar1">The Public Property & Buyer Portfolio</h1>
                <p id="cross-send-nav-bar2">Oppurtunities are ahead!</p>
                </div>
              </li>
            </ul>

          </div>
        </div>
      </nav>

    <!-- Nav bar ends here -->
<!-- Profile start -->
<div style="padding-left: 12px";>
<br>

  <div style="display:block;text-align:left" ><img align="left" height="70px" src="https://media-exp1.licdn.com/dms/image/C4D03AQHqV41J6mt9Ow/profile-displayphoto-shrink_400_400/0/1615054421519?e=1625702400&v=beta&t=bsBCRNXexVgyK_K-uwTuvIoi3z_7ZHGjDuIuVDPuZa8"></a> 
        <h3> <a>  </a> <a> Vasilios Kambouras</h3>
        <h5> <a>  </a> <a>Manager of Application </h5>
      <div class="wrapper">

        <div style="float:left; padding-right: 20px;">
          <h5> Hello, from Vasili. I'm the host of this Real Estate Forum!</h5>
          <h5> If any posts need to be deleted, please reach out the me.  </h5>
          <h5> My email is: Inquire.Vasilios@Gmail.com </h5>
        </div>
        
        <div style="padding-right: 12px;">
        <br>
        <br>
        <br>
        <h5> <a>  </a><img src="https://upload.wikimedia.org/wikipedia/commons/c/c9/Linkedin.svg" style="height: 25px; width: 25px;"> <a>  </a><a href="https://www.linkedin.com/in/vasilios-kambouras-114327157/">Linkedin</a> </h5>
        </div>
  </div>

<hr>

<div style="text-align: center;">
    <a href="aquisitions">
      <input type="button" id="Profile-page-Aquisitions" value="Aquisitions" style="width: 48%; margin-right:1%">
        </a>  
        <a href="dispositions">
          <input type="button" id="Profile-page-Dispositions"  value="Dispositions" style="width: 48%; margin-left:1%">
        </a>  

<!-- TWO PAGES WILL BE WRITTEN | ONE FOR EACH BUTTON-->
    </div>

  <hr>



   <!-- DISPITIONS -->


  <form>
    <label for="AreaLocation">Area: </label><br>
    <input type="text" id="AreaLocation" name="AreaLocation" pattern="[A-Za-z]"> <br>

    <label for="BuildingSqft">Building Sqft: </label><br>
    <input type="number" id="BuildingSqft" name="BuildingSqft"><br>

    <label for="LandAcerage">Land Acerage: </label><br>
    <input type="number" id="LandAcerage" name="LandAcerage"><br>

    <label for="CategoryType">Category:</label><br>
    <input type="text" id="CategoryType" name="CategoryType" pattern="[A-Za-z]"><br>

    <label for="Notes">Notes: </label><br>
    <input type="text" id="Notes" name="Notes" pattern="[A-Za-z]"><br>
    <br>
    <input type="submit">
  </form>

</div>
<br>
<div>    
   <h1>${dposts.darea}</h1> 
   <h3>${dposts.dbuildingsqft}</h3>
   <h3>${dposts.dlandacerage}</h3>
   <h3>${dposts.dcategory}</h3>
   <h3>${dposts.dnotes}</h3>

 </div>

 <br>
 <br>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<script src="profile.css"></script>
<script src="index.js"></script>

</body>
</html>